.product-card {
    width: 85%;
    max-width: 1050px;
    margin: 50px auto;

    display: flex;
    align-items: center;
    gap: 55px;

    padding: 45px;

    background: #fff9f6;

    border: 1px solid #ead8d5;
    border-radius: 25px;

    box-shadow: 0 15px 40px rgba(90, 50, 50, 0.12);

    transition: 0.3s ease;
}
.product-image {
    width: 42%;
    min-width: 350px;

    padding: 25px;

    background: #ffffff;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    width: 100%;
    max-height: 480px;
    object-fit: contain;

    border-radius: 15px;

    transition: 0.4s ease;
}

.product-image img:hover {
    transform: scale(1.04);
}




.product-info {
    flex: 1;
}

.product-info h1 {
    font-size: 30px;
    margin-bottom: 18px;

    color: #292525;
}

.product-info h2 {
    font-size: 25px;
    margin-bottom: 15px;

    color: #a95668;
}




.rating {
    color: #c9a86a;
    font-size: 21px;

    margin-bottom: 20px;
}

.rating span {
    color: #766467;
    font-size: 15px;

    margin-left: 10px;
}




.product-info p {
    color: #5f5557;

    line-height: 1.7;

    font-size: 16px;

    margin-bottom: 15px;
}




.product-info ul {
    padding-left: 20px;

    color: #5f5557;

    line-height: 1.7;
}

.product-info li {
    margin-bottom: 3px;
}




.buy-btn {
    margin-top: 20px;

    padding: 13px 35px;

    border: none;
    border-radius: 30px;

    background: #c97889;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s ease;
}

.buy-btn:hover {
    background: #a95668;

    transform: translateY(-2px);

    box-shadow: 0 8px 20px rgba(169, 86, 104, 0.3);
}
.quantity-input {
 margin-top: 20px;

    padding: 13px 35px;

    border: none;
    border-radius: 30px;

    background: #c97889;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s ease;
}
.quantity-input:hover {
    background: #a95668;
    transform: translateY(-2px);

    box-shadow: 0 8px 20px rgba(169, 86, 104, 0.3);
}
 #footer{
        display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3d6d9;
    border-radius: 25px;
    margin: 10px 10px;
    flex-direction: column;
}
#copyright{
    font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
    color: #888;
}
#navss{
   display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
    gap: 10px;
}
#navss a{ 
    text-decoration: none;
    color: black;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
    padding: 5px 5px;
    transition: 0.5s;
}
#navss a:hover{
    color:#a95668;
    border-radius: 25px;
    transition: 0.5s;
}
#navs a{ 
    text-decoration: none;
    color: black;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
    padding: 5px 10px;
    transition: 0.5s;
}
#navs a:hover{
    color:#a95668;
    border-radius: 25px;
    transition: 0.5s;
}

#header{
display: flex;
justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #f3d6d9;
    border-radius: 25px;
    margin: 10px 15;
}
#navs{
    display: flex;
    gap: 30px;
    align-items: center;
}
#logo img{
    border-radius: 50%;
    height: 50px;
    object-fit: cover;
}