.product-container {
    display:flex;
    gap: 40px;
    align-items: flex-start;
    max-width: 1100px;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 40px auto;
    font-family: Arial, sans-serif;
}
.product-img{
    width:100%;
    flex: 1;
    max-width: 450px;
    border-radius: 12px;
    
}
.product-name{
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.product-name{
    flex:1;
 }  
 #end{
    text-align: center;
     border: 5px solid #e14aac;
    padding: 2px;
    margin: 2px;
    color: rgb(0, 0, 0);
}
#end nav{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
gap: 20px;

}
#end a{
    color: rgb(0, 0, 0);
}
#header{
     background-color: #FFDADA;
}
#header img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}
#header a {
    text-decoration: none;
      color: rgb(0, 0, 0);
      background-color: #165823;
      border: 2px solid #d16b7a;
      padding: 2px;
      margin: 2px;
}
#header nav{
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  gap: 10px;

}
.login{
    background-color: #165823;
    border: 2px solid #e1d1d3;
    padding: 2px;
    margin: 2px;
} 
  