body{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    background-color: #FFF2DB;
    color: #333;
} 
.product-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
}
.product-card{
    width: 600px;
    background-color: #FFF2DB;
    border-radius: 10px;
    text-align: center;
    transition:0.3s ease;
}
.product-card img{
    width: 100%;
    height: 400px;
    object-fit: contain;
    border-radius: 8px;
}
.product-card h3{
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: normal;
}
.product-card p{
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}
.product-card button{
    background-color: #075315;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition:0.3s ease;
}
#end{
    text-align: center;
     border: 5px solid #e14aac;
    padding: 2px;
    margin: 2px;
    color: white;
}
#end nav{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
gap: 20px
;
}
#end a{
    color: white;
}
#header{
     background-color: #FFDADA;
}
#header img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}
#header a {
    text-decoration: none;
      color: aliceblue;
      background-color: #165823;
      border: 2px solid #d16b7a;
      padding: 2px;
      margin: 2px;
}
#header nav{
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  gap: 10px;

}
.login{
    background-color: #165823;
    border: 2px solid #e1d1d3;
    padding: 2px;
    margin: 2px;
}