#header{
     background-color: #FFF5F5;
}
#header img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}
#header a {
    text-decoration: none;
      color: aliceblue;
      background-color: #165823;
      border: 2px solid #d16b7a;
      padding: 2px;
      margin: 2px;
}
#header nav{
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  gap: 10px;

}
.login{
    background-color: #165823;
    border: 2px solid #e1d1d3;
    padding: 2px;
    margin: 2px;
}
.slider {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    opacity: 0;
    animation: slider 9s infinite;
}
.slider img:nth-child(1) {
    animation-delay: 0s;
}

.slider img:nth-child(2) {
    animation-delay: 3s;
}

.slider img:nth-child(3) {
    animation-delay: 6s;
}

@keyframes slider {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
body{background-color: #FFE2E2;}
#home h1{
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
}
#home h1:hover{
    color: #e1e1e1;
    transition: 0.5s;
}


.category section{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    border-radius: 25px;
}
.category-container{
   display: flex;
    justify-content: space-between;
    align-items: center;
    gap:12px;
    width:100%;
    padding: 15px 5px;
    
}
.category-card{
   width: 250px;
   background-color: #ebd5f9;
   border-radius: 25px;
   padding: 7px 5px;
   text-align: center;
}
.category-card img{
    width: 100%;
    height: 220px;
    display:block;
    object-fit: cover;
    margin: 0 auto 12px auto;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}
.category-container a{
    text-decoration: none;
    color: black;
    
}
.banner{
    background-color: #f3e4e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 16px;
    max-width: 1200px;
    margin: 20px auto;
}
.banner-content{
    max-width: 600px;
}
.banner-image{
    max-width: 50%;
}
.banner-content h2{
    font-size: 36px;
    margin-bottom: 20px;
    color: #d16b7a;
    font-family: Arial, sans-serif;
}
.banner-content h1{
    font-size: 18px;
    margin-bottom: 20px;
    color: #456d4d;
    font-family: Arial, sans-serif;
}
.banner-content p{
    font-size: 16px;
    margin-bottom: 20px;
    color: #165823;
    font-family: Arial, sans-serif;
}

.banner-image img{
    width: 100%;
    height: auto;
    border-radius: 16px;
}
#best-sellers{ 
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    border-radius: 25px;
}
#best-sellers h1{
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
}
.product-container{
   display: flex;
    justify-content: space-between;
    align-items: center;
    gap:12px;
    width:100%;
    padding: 15px 5px;
    
}
   
#product-card{
     width: 220px;
     display: flex;
     align-items: center;
   background-color: #FFE2E2;
   border-radius: 25px;
   padding: 7px 5px;
   text-align: center;
}
.product-container img{
    width: 100%;
    height: 200px;
    display:block;
    object-fit: cover;
    margin: 0 auto 12px auto;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}
.product-container a{
    text-decoration: none;
    color: black;
}
#navs a{
    text-decoration: none;
    color: black;
}
#end{
    text-align: center;
     border: 5px solid #e14aac;
    padding: 2px;
    margin: 2px;
    color: white;
}
#end nav{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
gap: 20px
;
}
#end a{
    color: white;
}