.thank-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
}

.thank-box {
    width: 450px;
    padding: 50px 40px;
    background: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.12);
}

.check-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: green;
    color: white;

    border-radius: 50%;

    font-size: 50px;
    font-weight: bold;
}

.thank-box h1 {
    font-size: 35px;
    margin-bottom: 15px;
}

.thank-box p {
    font-size: 20px;
    margin-bottom: 10px;
}

.success-message {
    color: #777;
    font-size: 16px !important;
    margin-bottom: 30px !important;
}

.home-button {
    display: inline-block;

    padding: 14px 35px;

    background: green;
    color: white;

    text-decoration: none;

    border-radius: 8px;

    font-size: 17px;
    font-weight: bold;
}

.home-button:hover {
    opacity: 0.8;
}